<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form class="mt-3" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form">
          <div class="form-group">
            <label for="email">Email: </label>
            <input
              class="form-control"
              type="email"
              email
              name="email"
              required
              ngModel
              #email="ngModel"
            />
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched"
            >Invalid email</span
          >
          <div class="form-group">
            <label for="subs">Subscription: </label>
            <select
              name="subs"
              id="subs"
              required
              class="form-control"
              ngModel
              #subs="ngModel"
              [ngModel]="defaultSubs"
            >
              <option *ngFor="let sub of subsList" [value]="sub">
                {{ sub }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="pwd">Password: </label>
            <input
              class="form-control"
              type="password"
              name="pwd"
              required
              ngModel
              #pwd="ngModel"
            />
          </div>
          <span class="help-block" *ngIf="!pwd.valid && pwd.touched"
            >Invalid Password</span
          >
        </div>
        <div class="form-group mt-3">
          <button
            class="btn btn-primary"
            [disabled]="!myForm.valid"
            type="submit"
          >
            Submit
          </button>
        </div>
        <span class="help-block" *ngIf="!myForm.valid && myForm.touched"
          >Invalid Data</span
        >
      </form>
    </div>
  </div>
</div>
